/* Team Members
Sri Archana Taduri - 1001964029
Kedar Kiran Penurkar - 1002033676
Rishika Chowdary Potturu - 1002086700
Shruthaja Patali Rao - 1002118604
Kallam Sudharshan Reddy - 1002025316
font-size - Adjusted according to the page
font - Arial, sans-serif
*/


/* Styles for the main container */
#update-academic-records {
    padding: 20px;
}

/* Styles for the form elements */
.academic-record-form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    font-weight: bold;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: rgb(24, 89, 153);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(16, 42, 121);
}

